name: Deploy Node App to EC2 with Docker

on:
  push:
    branches: [ "master" ]

env:
  IMAGE_NAME: mdsayeem/docker-cicd

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

  cd:
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ env.IMAGE_NAME }}:latest
            docker stop node-app || true
            docker rm node-app || true
            docker run -d -p ${{ secrets.APP_PORT }}:${{ secrets.APP_PORT }} --name node-app ${{ env.IMAGE_NAME }}:latest
